body header nav ul{
    text-align: center;
}
body header nav ul li{
    display: inline;
    margin: 5px, 5px, 2px, 0px;
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
    color:wheat;
    text-align: center;

}
body header nav ul li a{
    margin: 5px, 5px, 2px, 0px;
    text-decoration: none;
    color: wheat;
    text-align: center;
}

body{
    background-color: rgba(31, 44, 56, 22);
}
h1{
    margin: 5px, 5px, 2px, 0px;
}
body header a img{
    margin: 5px, 5px, 2px, 0px;
}
footer p{
    color: wheat;
    text-align: center;

}
body main p{
    color: wheat;
    font-style: oblique;
}